BACKEND_GATEWAY_IMAGE=""
BACKEND_IDENTITY_IMAGE=""
BACKEND_PLAYERS_IMAGE=""
BACKEND_RATINGS_IMAGE=""

POSTGRES_IDENTITY_USER=""
POSTGRES_IDENTITY_PASSWORD=""
POSTGRES_IDENTITY_DATABASE=""

POSTGRES_PLAYERS_USER=""
POSTGRES_PLAYERS_PASSWORD=""
POSTGRES_PLAYERS_DATABASE=""

POSTGRES_RATINGS_USER=""
POSTGRES_RATINGS_PASSWORD=""
POSTGRES_RATINGS_DATABASE=""

RABBIT_MQ_USER=""
RABBIT_MQ_PASSWORD=""

JWT_ACCESS_TOKEN_NAME=""
JWT_REFRESH_TOKEN_NAME=""
JWT_ISSUER=""
JWT_AUDIENCE=""
JWT_KEY=""
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=""
JWT_REFRESH_TOKEN_EXPIRE_DAYS=""

ADMIN_LOGIN=""
ADMIN_PASSWORD=""

BACKEND_GATEWAY_PORT=""
FRONTEND_DEV_PORT=""
RABBIT_MQ_WEB_PORT=""