BACKEND_GATEWAY_IMAGE=""
BACKEND_IDENTITY_IMAGE=""

POSTGRES_IDENTITY_USER=""
POSTGRES_IDENTITY_PASSWORD=""
POSTGRES_IDENTITY_DATABASE=""

JWT_COOKIE_NAME=""
JWT_ISSUER=""
JWT_AUDIENCE=""
JWT_KEY=""
JWT_EXPIRE_MINUTES=""

BACKEND_GATEWAY_PORT=""