BACKEND_GATEWAY_IMAGE=""
BACKEND_IDENTITY_IMAGE=""
BACKEND_PLAYERS_IMAGE=""
BACKEND_RATINGS_IMAGE=""

POSTGRES_IDENTITY_USER=""
POSTGRES_IDENTITY_PASSWORD=""
POSTGRES_IDENTITY_DATABASE=""

POSTGRES_PLAYERS_USER=""
POSTGRES_PLAYERS_PASSWORD=""
POSTGRES_PLAYERS_DATABASE=""

POSTGRES_RATINGS_USER=""
POSTGRES_RATINGS_PASSWORD=""
POSTGRES_RATINGS_DATABASE=""

JWT_COOKIE_NAME=""
JWT_ISSUER=""
JWT_AUDIENCE=""
JWT_KEY=""
JWT_EXPIRE_MINUTES=""

BACKEND_GATEWAY_PORT=""